{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{ "files": "*.md", "options": { "useTabs": false } },
		{ "files": "*.svelte", "options": { "parser": "svelte" } }
	]
}
